node_modules
npm-debug.log
dist
*.tsbuildinfo
.git
.gitignore
README.md
.env*
!.env.example
.nyc_output
coverage
.vscode
.DS_Store
*.md
!package*.json
!pnpm-lock.yaml
!nest-cli.json
!tsconfig*.json
applogs
image
test
jest.config.js
*.test.ts
*.spec.ts